# ========================================
# BOT ENVIRONMENT VARIABLES
# ========================================
DEXCHAN_TOKEN=
CLIENT_ID=

# ========================================
# DATABASE ENVIRONMENT VARIABLES
# ========================================
# docker-compose.standalone.yml
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# docker-compose.yml
DATABASE_URL=
